
.content>div{
    background: black;
    color: white;
    text-align: center;
    padding: 20px 7%;
    font-size: 25px;
    opacity: 0.9;
    box-shadow: 20px 20px 1000px black;
}
.content ul{
    list-style-type: none;
    padding: 0;
}

.content a{
    color: rgb(160, 19, 160);
}

.parallax.n2 {
    /* The image used */
    background-image: url("./ContentParts/ParalaxImg/lo-fi2.jpg");
  
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax.n3 {
    /* The image used */
    background-image: url("./ContentParts/ParalaxImg/lo-fi3.jpg");
  
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax.n4 {
    /* The image used */
    background-image: url("./ContentParts/ParalaxImg/lo-fi4.jpg");
  
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax.n5 {
    /* The image used */
    background-image: url("./ContentParts/ParalaxImg/lo-fi5.jpg");
  
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax.n6 {
    /* The image used */
    background-image: url("./ContentParts/ParalaxImg/lo-fi6.jpg");
  
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax.n7 {
    /* The image used */
    background-image: url("./ContentParts/ParalaxImg/lo-fi7.jpg");
  
    /* Set a specific height */
    height: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media (max-width: 600px) {
    .content>div{
        font-size: 15px;
    }
}