.toggle-button {
    top: 40%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65px;
    width: 75px;
    background: rgb(19, 18, 18);
    border: none;
    cursor: pointer;
    padding: 10px 10px 10px 22px;
    box-sizing: border-box;
    box-shadow: 5px 0px 35px rgba(0, 0, 0, 0.5);
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line {
    width: 30px;
    height: 3px;
    background: white;
}
