.toggle-button {
    top: 40%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65px;
    width: 75px;
    background: black;
    border: none;
    cursor: pointer;
    padding: 10px 10px 10px 22px;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line {
    width: 30px;
    height: 3px;
    background: white;
}
